.menu {
  background-color: lightgray;
  color: black;
  display: block;
}

.banner {
  background-color: gold;
  color: dimgray;
  display: block;
  font-weight: bold;
  text-align: center;
}

.header {
  background-color: lightgray;
  color: dimgray;
  display: block;
  font-weight: bold;
}

.selected {
  background-color: blue;
  color: white;
  font-weight: bold;
}
